@font-face {
	font-family: 'minecraftfont';
	src: url('./minecraftfont.eot');
	src: local('minecraftfont'), url('./minecraftfont.woff') format('woff'), url('./minecraftfont.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1412">Text with this font applied</p> */
.fontsforweb_fontid_1412 {
	font-family: 'minecraftfont' !important;

}

@font-face {
	font-family: 'print21';
	src: url('./PrintChar21.eot');
	src: local('print21'), url('./PrintChar21.woff') format('woff'), url('./PrintChar21.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1412">Text with this font applied</p> */
.fontsforweb_fontid_1412 {
	font-family: 'minecraftfont' !important;

}

body {
    color: white;
    font-family: 'minecraftfont';
		letter-spacing: 1px;
		background-color: black;
}

.textshadow {
		text-shadow: 0px 0px 2px #000;
}

@keyframes fadein {
    from {opacity: 0.0}
    to {opacity: 1.0}
  }

.bw {
	-webkit-filter: opacity(1) grayscale(1);
  filter: opacity(1) grayscale(1);
}
.color {
	-webkit-filter: opacity(1.0) grayscale(0);
  filter: opacity(1.0) grayscale(0);
}

.inactive {
	opacity: 0.3;
}

#dashboard > #clock > #center {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
		animation-name: fadein;
		animation-duration: 2s;

		-webkit-filter: opacity(1.0) ;
		filter: opacity(1.0) ;

}

#dashboard > #clock > #center > #time {
	font-size: 4rem;
	padding-bottom: 1rem;
}

#dashboard > #clock {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: black; /* Just to visualize the extent */
}

#dashboard > #bottom {
    right: 0;
    bottom: 0;
    opacity: 0.8;
    text-align: center;
    position: fixed;
    padding: 0.5rem;
    overflow: auto;
    animation-name: fadein;
    animation-duration: 3s;
		padding-right: 1rem;
}

@keyframes leftin {
    from {left: -500px;}
    to {left: 0}
  }

@keyframes rightin {
    from {right: -500px;}
    to {right: 0}
  }

#dashboard > #middle-bottom {
    bottom: 0;
    opacity: 0.8;
    text-align: center;
    position: fixed;
    padding: 0.5rem;
    overflow: auto;
		animation-name: fadein;
		animation-duration: 3s;
		padding-left: 1rem;

}
a {
    color: white;
		text-decoration: none;
}

a:hover {
    color: white;

}

a:visited {
    color: white;
}
